

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Activation Failed</h4>
                    <p>It seems that the activation link you followed is either invalid or has expired.</p>
                    <p>Please check your email for the correct activation link or contact support if you need assistance.</p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
